a:link, a:visited, img {
	outline:none;
	border:none;
}

ul {
	list-style:none;
}

body {
	font-family: 'Droid Sans', 'Lucida Grande', 'Lucida Sans Unicode', "Lucida Sans", sans-serif;
	background:#0d0d0f; /* url('images/carbon-texture.png');*/
	font-size:12px;
}

#wrapper {
	width:100%; 
}

#frontpage {
	width:1000px;
	position:relative;
	margin:60px auto;
	height:580px;
	min-width:800px;
	bottom:0;
}

#innerpage{
	position:relative;
	display:block;
	width:820px;
	background: rgba(00,00,00,0.6);
	margin: 30px auto;	
	min-height:30px;
	-moz-box-shadow: 10px 10px 30px rgba(0,0,0,0.6);
	-o-box-shadow: 10px 10px 30px rgba(0,0,0,0.6);
	-webkit-box-shadow: 10px 10px 30px rgba(0,0,0,0.6);
	box-shadow:10px 10px 30px rgba(0,0,0,0.6);
}

#regbutton-container{
	position:absolute;
	right:25px;
	top:30px;
}

#regbutton {
	width:100px;
	height:20px;
}

#regbutton a {
	display:block;
	background-color:#777;
	color:#000;
	height:20px;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	padding-top:2px;
	text-decoration:none;
	-moz-border-radius: 4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

#regbutton a:hover {
	background-color:#ccc;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
}

#content {
	font-family:arial;
	font-size:13px;
	display:none;
	color:white;
	display: block;
	margin: 0 10px 0 10px;
	padding-top:30px;
	height:300px;
}

#headerlogo {
	margin-left:auto;
	margin-right:auto;
	background: transparent url('../images/header-logo.png') no-repeat;
	width: 613px;
	height:160px;
	position:relative;
}

#content span.title {
	font-size:40px;
	color:red;
	color: #EFEFEF;
	font-size: 30px;
	margin: 0 0 0 40px;
	text-decoration: underline;
}
