
<!DOCTYPE html> 
<html>
	<head>	
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="cache-control" content="public" />
		<meta http-equiv="content-language" content="en-IN" />
		<meta http-equiv="expires" content="Mon, 31 Aug 2012 00:00:00 GMT" />
		<link rel="icon" type="image/png" href="styles/images/favicon.png" />
		<link href='../css/wrapper.css' type='text/css' rel='stylesheet' />
		<link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
		<title>
			Tathva '11 | National Institute of Technology, Calicut
		</title>
		<script src='/google_analytics_auto.js'></script>
	</head>
	<body>
		<div id = "wrapper">
			<div id = "frontpage">
				<div id = "headerlogo"></div>
				<div id="innerpage">
					<div id="content">
						<h4>Rules </h4>
						<ul>
							<li>Maximum two participants per team.</li>
							<li>Any number of teams are allowed from a college. However the members of a team must be from the same college.</li>
							<li>There will be a maximum of three rounds. </li>
							<li>The first round will be an online qualifying round from which a maximum of 10 teams will be shortlisted. </li>
							<li>The final 2 rounds will be conducted at NITC campus during Tathva. Consisting of a debugging/sysadmin round (including but not limited to common linux hassles/problems, system environment editing, etc.) and a bash scripting round, these will test the participants' practical skills in a Linux environment. </li>
							<li>Marks from first round will not be carried over to the other two rounds. </li>
							<li>However marks from Round 2 will be carried over to Round 3 i.e. winning teams will be decided on the basis of performance in the last two rounds. </li>
							<li>There co-ordinator's decision shall be final. </li>
						</ul>

					</div>
				</div> 
			</div>
		</div>
		<div id = "updatebar"></div>
	</body>	
</html>
